body{
    background-image: url(images/typewriter_letters_retro_851577_1280x720.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}


/* TOP week navigation bar */
#weekNav{

    background-image: url(images/black_wc_bg.png);
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px
}
#weekNav > button {
    background-image: url(images/darkGreyBG.png);
   border: none;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.781);
   margin: 6px;
   overflow: hidden;
   font: bold 15px "Bradley Hand ITC", serif;



}
#weekNav > button:hover {
    background-image: none;
    background-color:rgba(211, 222, 10, 0.559);
    color: white;

}

#weekNav > button:focus {
    object-fit: cover;
    background-image: url(images/yellow_wc_bg.png);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.724);
    color: rgba
    objec

}

/* Topic Navigation bar */
#topicNav{
    position:absolute;
    top: 30px;
    right:0;
    left: 0;
    height:30px;
    background-image: url(images/yellow_wc_bg.png);
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px



}
#topicNav > button {
    background-image: url(images/darkGreyBG.png);
    border:none;
    box-shadow: 2px 2px 2px rgb(81, 85, 4);
    margin: 6px;
    overflow: hidden;
    font: bold 15px "Bradley Hand ITC", serif;

}
#topicNav > button:hover{
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
#topicNav > button:focus {
    background-image: url(images/black_wc_bg.png);
    color: white;
    text-shadow: 2px 2px 2px black;


}

/* Main body */


.notesText{
    position: absolute;
    right: 5;
    top: 90;
}

.backgrounds > #title {
    height: 40px;
    min-width: 400px;
    opacity: .7;
    position: absolute;
    top: 80px;
    left: 30px;

    z-index: -1;
    object-fit: cover;
    border: 3px solid rgb(81, 85, 4);

}
.backgrounds > #body{
    height: 350px;
    width: 400px;
    opacity: .7;
    position: absolute;
    top: 150px;
    left: 30px;
    z-index: -1;
    border: 3px solid rgb(81, 85, 4)
}
.Topic{
    position: absolute;
    top: 70px;
    left: 45px;
    font: bold 15px "Bradley Hand ITC", serif;
}

.content {
    display: none;
    font: 15px "Bookman Old Style", serif;
}
.Notes.content{
    display: inline;
    position: absolute;
    top:90px;
    width: 380px;
}

.contentSelection{
    position: absolute;
    right: 5px;
    top: 160px;
    display: flex;
    flex-direction: column;
    gap: 50px
}
.contentSelection > button {
    background-image: url(images/darkGreyBG.png);
    font: bold 15px "Bradley Hand ITC", serif;
    border: 3px solid black;
    opacity: .9;
}
.contentSelection > button:hover {
    background-image: url(images/yellow_wc_bg.png);



}
.contentSelection > button:focus {
    background-image: url(images/black_wc_bg.png);
    color: white;
    text-shadow: 2px 3px 2px black;

    border: inset yellow;


}
